*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 10px;
}

.main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 5px;
    margin: 5px;
    border: 1px solid #000;
}

.main-bottons {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.main-bottons li {
    padding: 5px;
}

.main-bottons li figure {
    height: 150px;
    width: 150px;
    border: 1px solid #000;
    border-radius: 50%;
}

.cards {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    padding: 10px;
}

.cards .card {
    position: relative;
    min-height: 150px;
    width: 20%;
    border: 1px solid #000;
}

.cards .card:nth-child(1) {
    background-color: pink;
    transform: rotate(-8deg);
}

.cards .card:nth-child(2) {
    background-color: greenyellow;
    transform: rotate(8deg);
}

.score {
    border: 1px solid #000;
}